<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Angular training</span>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #drawer mode="side" opened="true">
    <nav>
      <mat-list>
        <mat-list-item><a routerLink="/errorcodes">ErrorCodes</a></mat-list-item>
        <mat-list-item><a routerLink="/solutions">Solutions</a></mat-list-item>
        <mat-list-item><a routerLink="/repairs">Repairs</a></mat-list-item>
       </mat-list>
    </nav>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
